<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  
  <!-- Open Graph & Twitter integration -->
  {{ partial "opengraph.html" . }}

  <title>{{ .Title }} &middot; {{ .Site.Author.name }}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/poole.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/hyde.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/poole-overrides.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/hyde-overrides.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/hyde-x.css">
  {{ if isset .Site.Params "highlight" }}<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/highlight/{{ .Site.Params.highlight }}.css">{{ end }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link href="/favicon.png" rel="icon">

  <!-- RSS -->
  {{ $siteTitle := .Site.Title }}
  {{ $authorName := .Site.Author.name }}
  {{ with .RSSLink }}<link href="{{ . }}" rel="alternate" type="application/rss+xml" title="{{ $siteTitle }} &middot; {{ $authorName }}" />{{ end }}

  <meta name="description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.defaultDescription }}{{ end }}">
  <meta name="keywords" content="{{ range $index, $element := .Keywords }}{{ if gt $index 0 }},{{ end }}{{ . }}{{ else }}{{ .Site.Params.defaultKeywords }}{{ end }}">
  {{ with .Site.Params.googleAuthorship }}<link rel="author" href="http://plus.google.com/{{ . }}">{{ end }}
</head>
<body{{ with .Site.Params.theme }} class="{{ . }}"{{ end }}>
{{ partial "sidebar.html" . }}
