<!-- Open Graph integration -->
<meta property="og:title" content="{{ .Title }}" />
<!-- Determine whether article (post) or generic website -->
{{if .Keywords }}
{{ if in .Keywords "article" }}
<meta property="og:type" content="article" />
<meta property="article:author" content="{{.Site.Params.fb_id}}" />
{{ else }}<meta property="og:type" content="website" />
{{ end }}
{{end}}
<meta property="og:description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.defaultDescription }}{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:locale" content="en_US">
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}"/>
<meta property="article:modified_time" content="{{ .Date.Format "2006-01-02" }}"/>

<!-- Keyword list detection -->
{{if isset .Params "categories" }}
{{ range .Params.categories }}<meta property="article:tag" content="{{ . }}">
{{ end }}
{{else if isset .Params "tags" }}
{{ range .Params.tags }}<meta property="article:tag" content="{{ . }}">
{{ end }}
{{else if .Keywords }}
{{ range .Keywords }}
<meta property="article:tag" content="{{ . }}">
{{ end }}
{{end}}

<!-- Photo detection -->
{{if .Params.leadpicture }}
<meta property="og:image" content="{{ .Params.leadpicture }}" />
<meta property="og:image:secure_url" content="{{ .Params.leadpicture }}" />
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:image:src" content="{{ .Params.leadpicture }}">
{{else}}
<meta property="og:image" content="" />
<meta property="og:image:secure_url" content="" />
<meta name="twitter:card" content="summary">
<meta property="twitter:image:src" content="">
{{end}}

<!--Twitter Cards, common for all twitter cards (image handling above)-->
<meta name="twitter:site" content="@josephst18">
<meta name="twitter:title" content="{{ .Title }} : josephstahl.com">
<meta name="twitter:creator" content="@josephst18">
<meta name="twitter:description" content="{{ .Description }}">
<meta name="twitter:domain" content="josephstahl.com">
